<!DOCTYPE html>
<html>
  <head>
    <title>RubyBoats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <a href="/"> Home </a>
    <a href="/shippers/sign_up"> Register </a>
    <a href="/shippers/sign_in"> Sign In </a>

    <%= yield %>
    
  </body>
</html>
